h1 {
  font-size: 64px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 5rem 0 3rem 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer p {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
}