.footer {
  width: 100%;
  height: 30px;
  margin-top: 50px;
  position: relative;
}

.footer p {
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
}